<div class="container inscription">
    <form action="" class="form-control text-center" #forme="ngForm">
        <h4>Formulaire d'inscription</h4>
        <div>
            <input type="email" [(ngModel)]="user.mail" class="form-control text-center" placeholder="Email" name="mail"
                required>
        </div>
        <div>
            <br>
            <input type="text" [(ngModel)]="user.pseudo" class="form-control text-center" placeholder="Pseudo"
                name="pseudo" required>
        </div>
        <div>
            <br>
            <input type="password" [(ngModel)]="user.mdp" class="form-control text-center" required name="motDePasse"
                placeholder="Mot de passe" name="mdp">
        </div>

        <div>
            <br>
            <input type="password" [(ngModel)]="motDePasse2" class="form-control text-center" required
                placeholder="Vérification mot de passe" name="motDePasse2">
        </div>
        <br>
        <div class="container row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block" (click)="inscription();"
                    [disabled]="!forme.form.valid">Valider</button>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block">Retour</button>
            </div>
        </div>
        <div>
            <span class="text-danger">{{ erreur }}</span>
        </div>

    </form>
</div>