<div style="width: 250px;">
    <h6 class="text-center">Choisir le nom de la liste</h6>
    <div style="margin: 10px">
        <form action="" #forme="ngForm">
            <div>
                <input type="text" required style="width: 230px" [(ngModel)]="nom" name="nom" required>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <button [disabled]="!forme.form.valid"
                    style="background: #c2dcb9; width: auto; color: white;" class="btn btn-lg btn-primary btn-block mb-2" (click)="valider();">Valider</button>
                </div>
                <div class="col-sm-6">
                    <button style="background: #c2dcb9; width: auto; color: white;" class="btn btn-lg btn-primary btn-block mb-2" (click)="fermer();">Annuler</button>
                </div>
                <div class="col-sm-6">{{ erreur }}</div>
            </div>
        </form>
    </div>
</div>