<div style="overflow: auto; max-height: 600px; max-width: 500px;">
    <h3>Ajouter une recette</h3>
    <hr>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap;">
        <div style="background: #a6d6ea; padding: 5%; width: 95%; border-radius: 10px;">
            <form action="">
                <h5>Informations recette</h5>
                <hr>
                <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                    <div
                        style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                        <div>
                            <img src="https://image.flaticon.com/icons/svg/1/1132.svg" alt="Div image cap"
                                style="width: 35px; height: 35px; vertical-align: middle;">
                        </div>
                        <div>
                            <span>Titre</span>
                        </div>
                    </div>
                    <div>
                        <input type="text" placeholder="Titre de la recette" required [(ngModel)]="recette.titre"
                            name="titre">
                    </div>

                    <hr>
                    <div style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;"
                        class="text-center">
                        <img src="https://image.flaticon.com/icons/svg/66/66163.svg"
                            style="width: 30px; height: 30px; vertical-align: middle;">
                        Temps de préparation
                    </div>
                    <div>
                        <input type="number" placeholder="Temps de préparation (min)" required
                            [(ngModel)]="recette.tempsPrepa" name="tpsPrep">
                    </div>
                    <br>
                    <div style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;"
                        class="text-center">
                        <img src="https://image.flaticon.com/icons/svg/135/135318.svg" alt="Div image cap"
                            style="width: 35px; height: 35px; vertical-align: middle;">
                        Temps cuisson
                    </div>
                    <div>
                        <input type="number" placeholder="Temps de cuisson (min)" required
                            [(ngModel)]="recette.tempsCuis" name="tpsCuisson">
                    </div>

                </div>
                <hr>
                <div style="padding: 5px; width: 100%;">
                    <div>Desription</div>
                    <input type="text" placeholder="Description de la recette" style="width: 100%; height: 100px;"
                        required [(ngModel)]="recette.description" name="description">
                </div>

                <div
                    style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: flex-start;align-items: center;">
                    <img src="https://image.flaticon.com/icons/svg/1106/1106021.svg" alt="Div image cap"
                        style="width: 35px; height: 35px; vertical-align: middle;">
                    <div>Url image</div>
                </div>
                <input type="url" placeholder="url image" style="width: 70%;" [(ngModel)]="recette.url" name="url">

                <hr>

            </form>
        </div>
        <div style="width: 95%;">
            <hr>
        </div>
        <div style="background: #a6d6ea; padding: 5%; width: 95%; border-radius: 10px;">
            <div class="flex">
                <h5>Ingrédients</h5>
                <div>
                    <button (click)="ajouterIngredient();"
                        style="background: #c2dcb9; width: auto; color: white; font-size: 15px"
                        class="btn btn-lg btn-primary btn-block mb-2">
                        <div>Nouvel ingredient</div>
                    </button>
                </div>
            </div>

            <hr>
            <table>
                <tbody>
                    <tr *ngFor="let element of listeElementsRecette">
                        <td style="width: 50%;">{{ element.ingredient.nom }}</td>
                        <td style="width: 20%;">{{ element.quantite }}</td>
                        <td style="width: 20%;">{{ element.ingredient.unite }}</td>
                        <td style="width: 10%;">
                            <button style="background: none; border: none" (click)="supprimerElementRecette(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>




        </div>

        <div style="width: 95%;">
            <hr>
        </div>
        <div class="flex">
            <div>La recette doit-elle être visible de tous ? 
                <input type="checkbox" value="true" name="visible" id="" [(ngModel)]="recette.visible" style="font-size: 50px;">
            </div>
        </div>
        <div style="width: 95%;">
            <hr>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <div>
            <button style="background: #c2dcb9; width: auto; color: white;"
                class="btn btn-lg btn-primary btn-block mb-2" (click)="enregistrer()">Valider</button>
        </div>
        <div>
            <button style="background: #c2dcb9; width: auto; color: white;"
                class="btn btn-lg btn-primary btn-block mb-2" (click)="fermer()">Annuler</button>
        </div>
    </div>
</div>