<div style="width: 100%; ">
    <h3>Ajouter une recette</h3>
    <hr>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap;">
        <div>
            <form action="">
                <h5>Informations recette</h5>
                <hr>
                <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                    <div style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;"
                        class="text-center">
                        <div>
                            <img src="https://image.flaticon.com/icons/svg/1/1132.svg" alt="Div image cap"
                                style="width: 35px; height: 35px; vertical-align: middle;">
                        </div>
                        <div>
                            Titre
                        </div>
                        <div>
                            <input type="text" placeholder="Titre de la recette" required [(ngModel)]="titre"
                                name="titre">
                        </div>
                    </div>
                    <hr>
                    <div style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;"
                        class="text-center">
                        <img src="https://image.flaticon.com/icons/svg/66/66163.svg"
                            style="width: 30px; height: 30px; vertical-align: middle;">
                        Temps de préparation
                        <input type="number" placeholder="Temps de préparation (min)" required [(ngModel)]="tpsPrep"
                            name="tpsPrep">
                    </div>
                    <div style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;"
                        class="text-center">
                        <img src="https://image.flaticon.com/icons/svg/135/135318.svg" alt="Div image cap"
                            style="width: 35px; height: 35px; vertical-align: middle;">
                        Temps cuisson

                        <input type="number" placeholder="Temps de cuisson (min)" required [(ngModel)]="tpsCuisson"
                            name="tpsCuisson"></div>
                </div>
                <hr>
                <div style="padding: 5px; width: 100%;">
                    <div class="text-center">Desription</div>
                    <input type="text" placeholder="Description de la recette" style="width: 100%; height: 100px;"
                        required [(ngModel)]="description" name="description">
                </div>
                <hr>
                <div
                    style="padding: 5px; width: 100%; display: flex; flex-direction: row; justify-content: space-evenly;align-items: center;">
                    <img src="https://image.flaticon.com/icons/svg/1106/1106021.svg" alt="Div image cap"
                        style="width: 35px; height: 35px; vertical-align: middle;">
                    <div>Url image</div>
                    <input type="url" placeholder="url image" style="width: 70%;" [(ngModel)]="url" name="url">
                </div>
                <hr>

            </form>
        </div>

        <div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="text-center"
                style="width: 100% ;">

                <!-- Name Column -->
                <ng-container matColumnDef="ingredient.nom">
                    <th mat-header-cell *matHeaderCellDef class="text-center texte" style="font-size: 25px;">Ingredients
                    </th>
                    <td class="texte" mat-cell *matCellDef="let elementListe" style="font-size: 15px;">
                        {{elementListe.ingredient.nom}}</td>
                    <td mat-footer-cell *matFooterCellDef>

                    </td>
                </ng-container>

                <!-- QUantite Column -->
                <ng-container matColumnDef="quantite">
                    <th mat-header-cell *matHeaderCellDef class="text-center texte" style="font-size: 0px;">
                    </th>
                    <td class="texte" mat-cell *matCellDef="let elementListe" style="font-size: 15px;">
                        {{elementListe.quantite}}</td>
                    <td mat-footer-cell *matFooterCellDef>

                    </td>
                </ng-container>

                <!-- Unite Column -->
                <ng-container matColumnDef="ingredient.unite">
                    <th mat-header-cell *matHeaderCellDef class="text-center texte" style="font-size: 0px;">
                    </th>
                    <td class="texte" mat-cell *matCellDef="let elementListe" style="font-size: 15px;">
                        {{elementListe.ingredient.unite}}</td>
                    <td mat-footer-cell *matFooterCellDef>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef class="text-center texte" style="font-size: 0px;">
                    </th>
                    <td mat-footer-cell *matFooterCellDef>
                    </td>
                </ng-container>

                <ng-container matColumnDef="del">
                    <th mat-header-cell *matHeaderCellDef class="text-center texte" style="font-size: 0px;">
                    </th>
                    <td class="texte" mat-cell *matCellDef="let elementListe" style="font-size: 15px;">
                        <button (click)="supprimerElementRecette(elementListe)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <div class="flex">

                <button (click)="ajouterIngredient();">
                    <div class="flex">
                        <div>
                            <mat-icon>add</mat-icon>
                        </div>
                        <div>Nouvel ingredient</div>
                    </div>
                </button>
            </div>



        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <div>
            <button style="background: #c2dcb9; width: auto; color: white;"
                class="btn btn-lg btn-primary btn-block mb-2" (click)="enregistrer()">Valider</button>
        </div>
        <div>
            <button style="background: #c2dcb9; width: auto; color: white;"
                class="btn btn-lg btn-primary btn-block mb-2" (click)="fermer()">Annuler</button>
        </div>
    </div>
</div>