<div class="row">
    <div class="col-sm-3" style="padding-right: 10px;">
        <app-navbaruser></app-navbaruser>
    </div>

    <div class="col-sm-4">
        <div style="margin:10px; padding:10px; background: #EAC5CD;">
            <div class="col-sm-12">
            <p class="text-center"><strong>Mon frigo</strong></p>
            </div>
        </div>
        <div class="row" style="margin:10px; padding:10px;">
            <div class="col-sm-4">
                <div class="table">

                    <tbody>
                        <tr *ngFor="let e of mesElementsFrigo">
                            <td>{{e.ingredient.nom | uppercase }}</td>
                            <td>{{e.quantite}}</td>
                            <td>{{e.ingredient.unite}}</td>
                            <td><button mat-icon-button aria-label="" (click)='modifQuantite(e)'>
                                    <img src="https://p5.storage.canalblog.com/55/79/1295541/98510291_o.png"
                                        width="30 px">
                                </button>
                            </td>
                            <td><button mat-icon-button aria-label="" (click)='supprimerElementFrigo(e)'>
                                    <img width="30px" src="http://miratech.fr/images/2014/06/poubelle.png" alt="">
                                </button></td>

                        </tr>
                    </tbody>
                </div>
            </div>
        </div>

    </div>

</div>

