.texte {
    font-family: Georgia, serif !important;
    color: black;
  }
/*
  .container{
      flex-direction: row;
      justify-content: flex-start;
  }*/

  /*.box{
      display:flex;
  }*/

  .contenu-avec-scroll{
      width: 500px;
      height: 500px;
      scrollbar-width: thin;
      overflow: auto;
  }