<div class="container">

    <div class="row">

        <div class="col-sm-8">

            <div class="table">

                <table>
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom de l'element</th>
                            <th>Quantite</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                </table>

                <tbody>

                    <tr *ngFor="let e of mesElementsFrigo">

                        <td>{{e.ingredient.nom}}</td>
                        <td>{{e.quantite}}</td>
                        <td><button aria-label="" color="warn" (clic)='supprimerElementFrigo()'>
                                delete
                            </button>
                        </td>

                    </tr>

                </tbody>

            </div>

        </div>

    </div>
</div>