<!--
<div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
    <div style="width: 40%;">
        <div class="table" style="background: #f2cbaa; border-radius: 20px;">
            
            <div
                style="width: 90%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
                <div>
                    <H2>Mes listes de courses</H2>
                </div>
                <div>
                    <mat-icon style="font-size: 50px;" (click)="nouvelleListe()">add</mat-icon>
                </div>
            </div>

            <tbody class="text-center">
                <tr *ngFor="let l of mesListes">
                    <td width="80%" style="font-size: 20px;">{{l.titre | uppercase }}</td>
                    <td width="10%">
                        <button (click)='boutonVoir(l)' style="background: none; border: none">
                            <mat-icon style="font-size: 25px; color: white;">remove_red_eye</mat-icon>
                        </button>
                    </td>
                    <td width="10%">
                        <button (click)='supprimerListe(l)' style="background: none; border: none">
                            <mat-icon style="font-size: 25px;">delete</mat-icon>
                        </button></td>
                </tr>
            </tbody>
            <br>
        </div>

    </div>
    <div style="width: 40%;">
        <div *ngIf="visible" style="background: #f2cbaa; border-radius: 20px;">
            <div class="table text-center" style="margin: auto;">
                <div
                    style="width: 90%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
                    <div>
                        <H3 class="text-center"><strong>{{ liste.titre }}</strong></H3>
                    </div>
                    <div>
                        <button (click)="ajoutElementListe()" style="background: none; border: none">
                            <mat-icon style="font-size: 50px;">add</mat-icon>
                        </button>
                    </div>

                </div>
                <table>
                    <tbody>
                        <tr *ngFor="let e of mesElementsListe" class="text-center">
                            <td width="40%">
                                {{e.ingredient.nom }}
                            </td>
                            <td width="40%">
                                {{e.quantite }} {{e.ingredient.unite }}
                            </td>
                            <td width="10%">
                                <button (click)="supprimerElement(e)" style="background: none; border: none;">
                                    <img width="30px" src="http://miratech.fr/images/2014/06/poubelle.png" alt="">
                                </button>
                            </td>
                            <td width="10%">
                                <button (click)="modifElementListe(e)" style="background: none; border: none;">
                                    <img width="30px" src="https://image.flaticon.com/icons/png/512/45/45584.png"
                                        alt="">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
        <br>
    </div>
</div>-->

<!--<div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let l of mesListes; let i = index" style="padding: 10px">
        <div class="card cadre">
            <div class="card-block">
                <h4 class="card-title">{{ i }} - {{ l.titre }}</h4>
            </div>
        </div>
    </div>
    <br>
</div>-->