<nav class="navbar navbar-expand-lg bg-primary fixed-top" id="sideNav">

  <div style="vertical-align: middle;">
    <div>
      <br>
      <h2 class="bienvenue">Bienvenue</h2>
      <h2 class="bienvenue">{{ cUser }}</h2>
      <hr class="demarcation">
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item bordure">
          <button class="btn btn-lg btn-primary btn-block btn-login"
            style="background: none; border: none; text-align: center; margin-top: 10px;">
            <img src="https://image.flaticon.com/icons/svg/2235/2235754.svg" width="50px">
            <br>
            <h6 class="text-navbar">Mon Frigo</h6>
          </button>
        </li>
        <hr>
        <li class="nav-item">
          <button class="btn btn-lg btn-primary btn-block btn-login"
            style="width: 100%; background: none; border: none; text-align: center;" (click)="toListeAchat()">
            <img src="https://image.flaticon.com/icons/svg/687/687264.svg" alt="" width="50px">
            <br>
            <h6 class="text-navbar">Ma liste d'achat</h6>
          </button>
        </li>
        <hr>
        <li class="nav-item">
          <button class="btn btn-lg btn-primary btn-block btn-login"
            style="width: 100%; background: none; border: none; text-align: center;" (click)="mesListes()">
            <img src="https://image.flaticon.com/icons/svg/685/685745.svg" alt="" width="50px">
            <br>
            <h6 class="text-navbar">Mes listes de courses</h6>
          </button>
        </li>
        <hr>
        <li class="nav-item">
          <button class="btn btn-lg btn-primary btn-block btn-login"
            style="width: 100%; background: none; border: none; text-align: center;">
            <img src="https://image.flaticon.com/icons/svg/766/766316.svg" alt="" width="50px">
            <br>
            <h6 class="text-navbar">Recettes</h6>
          </button>
        </li>
        <hr>
        <hr class="demarcation">
        <hr>
        <li class="nav-item">
          <button class="btn btn-lg btn-primary btn-block btn-login" routerLink="/modif-profil"
            style="width: 100%; background: none; border: none; text-align: center;">
            <img src="https://image.flaticon.com/icons/svg/768/768051.svg" alt="" width="50px">
            <br>
            <h6 class="text-navbar">Modifier mes informations</h6>
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-primary btn-block btn-login" (click)="deconnexion()"
            style="width: 100%; background: none; border: none; text-align: center;">
            <img src="https://image.flaticon.com/icons/svg/2150/2150335.svg" alt="" width="50px">
            <br>
            <h6 class="text-navbar">Déconnexion</h6>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>