.couleur-nav {
  background: #a6d6ea;
}

.bienvenue {
  font-family: Georgia, serif;
  color: black;
  margin-left: 15px;
}

.text-navbar {
  font-family: Georgia, serif !important;
  margin-top: 13px;
  color: black;
}

.demarcation {
  width: 100%;
  color: black;
  background-color:black;
  height: 0.2px;
}

.material-menu {
  background-image: url("https://image.flaticon.com/icons/svg/2235/2235754.svg");
}

.btn-nav {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

mat-sidenav {
  width: 280px;
  padding:15px;
}

.mat-drawer { 
  background-color: #f2cbaa;
  color: black;
}

.main-content {
  padding:20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}