#sideNav .navbar-nav .nav-item {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 16.6%;
    height: 100%;
  }
  #sideNav .navbar-brand {
    display: flex;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}

.bg-primary {
  background: linear-gradient(to bottom, #a6d6ea, #a6d6ea);
}

.bienvenue {
  font-family: Georgia, serif !important;
}

.text-navbar {
  font-family: Georgia, serif !important;
  margin-top: 13px;
  margin-bottom: 2px;
  color: black;
}

.bordure {
  border-top: black !important;
  border-bottom: black !important;
}