.couleur-nav {
  background: #c2dcb9;
}

.bienvenue {
  font-family: Georgia, serif;
  color: black;
  margin-left: 15px;
}

.text-navbar {
  font-family: Georgia, serif !important;
  font-size: 14px;
  margin-top: 13px;
  color: black
}

.demarcation {
  background-color: black;
}

.material-menu {
  background-image: url("https://image.flaticon.com/icons/svg/2235/2235754.svg");
}

.btn-nav {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

mat-sidenav {
  width: 280px;
  padding:15px;
}

.mat-drawer { 
  background-color: #c2dcb9;
  color: black;
}

.main-content {
  padding:20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.pour-scroll {
  scrollbar-width: thin;
  overflow: auto;
}