.select {
  float: left;
  border-radius: 0.5rem;
  font-family: Georgia, serif !important;
  font-size: 13px;
  width: auto;
}

.cadre{
  border-radius: 0.5rem;
}

.cadretop{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.remplir{
  background-color: rgb(23, 180, 23);
}


.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

.texte {
  font-family: Georgia, serif !important;
  color: black;
}

.encart {
  margin-top:10px;
  margin-bottom: 10px;
  padding:10px;
}

.btn-login {
  font-family: Georgia, serif !important;
  font-size: 11px;
  letter-spacing: 0.05rem;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: #f5d7bd;
}