<app-navbaruser></app-navbaruser>

<div class="container">
    <div style="margin:10px; padding:10px; background: #EAC5CD;">
        <div class="row input-group-prepend">
            <div class="col-sm-2">
                <button class="btn btn-lg btn-primary btn-block btn-login"
                    style="background: none; border: none; text-align: left; pointer-events: none;">Filtres
                    :</button>
            </div>

            <div class="col-sm-2 input-group" id="select1">
                <div>
                    <select class="custom-select" id="selectSais">
                        <option selected>Saison...</option>
                        <option value="s1">Printemps</option>
                        <option value="s2">Eté</option>
                        <option value="s3">Automne</option>
                        <option value="s4">Hiver</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2 input-group" id="select2">
                <div>
                    <select class="custom-select" id="selectCat">
                        <option selected>Type d'ingrédient...</option>
                        <option value="c1">Légume</option>
                        <option value="c2">Fruit</option>
                        <option value="c3">Epicerie</option>
                        <option value="c4">Viande</option>
                        <option value="c5">Poisson</option>
                        <option value="c6">Produit laitier</option>
                        <option value="c7">Autre</option>

                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="input-group-prepend">
                    <br><br>
                    <button style="background: rgb(124, 165, 165); color: white"><strong>Appliquer les
                            filtres</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:10px; padding:10px;">
        <div class="col-sm-2"></div>
        <div class="card-deck"></div>

        <div class="col-sm-4">
            <div *ngFor="let re of allRecettes">

                <div class="card" style="width: 18rem;">

                    <img class="card-img-top"
                        src="https://img-3.journaldesfemmes.fr/Rf4QqgUyGiWbG0deYX-OaJQf5Yc=/748x499/smart/image-icu/352936_7606498402.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{re.titre}}</h5>

                        <p class="card-text"><small class="text-muted">Préparation : {{re.tempsPrepa}} min |
                                Cuisson : {{re.tempsCuis}} min</small></p>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-success"><small><strong>
                                        Afficher</strong></small></button>
                            <button type="button" class="btn btn-warning"><small><strong>Ajout
                                        Envie</strong></small></button>
                            <button type="button" class="btn btn-outline-dark"><small><strong> Ajout
                                        Course</strong></small></button>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
        <!-- Card -->
        <div class="card promoting-card">

            <!-- Card content -->
            <div class="card-body d-flex flex-row">

                <!-- Avatar -->
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3"
                    height="50px" width="50px" alt="avatar">

                <!-- Content -->
                <div>

                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">New spicy meals</h4>
                    <!-- Subtitle -->
                    <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>

                </div>

            </div>

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top rounded-0"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <div class="collapse-content">

                    <!-- Text -->
                    <p class="card-text collapse" id="collapseContent">Recently, we added several exotic new dishes to
                        our restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to us,
                        have some delicious wine and enjoy our juicy meals from around the world.</p>
                    <!-- Button -->
                    <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse"
                        href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
                    <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip"
                        data-placement="top" title="Share this post"></i>
                    <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip"
                        data-placement="top" title="I like it"></i>

                </div>

            </div>

        </div>
        <!-- Card -->
    </div>
</div>

</div>