#select1 select{
    height: 90%;
    width: 100%;
    float: left;
}

#select2 select{
    height: 90%;
    width: 100%;
    float: left;
}

.cadre{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.cadretop{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.remplir{
  background-color: rgb(23, 180, 23);
}


.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }