<div class="container">
    <div style="margin-top:10px; margin-bottom: 10px; padding:10px; background: #EAC5CD;">
        <div class="row input-group-prepend">
            <div class="col-sm-2">
                <button class="btn btn-lg btn-primary btn-block btn-login"
                    style="background: none; border: none; text-align: left; pointer-events: none;">Filtres
                    :</button>
            </div>

            <div class="col-sm-2 input-group" id="select1">
                <div>
                    <select class="custom-select" id="selectSais">
                        <option selected>Saison...</option>
                        <option value="s1">Printemps</option>
                        <option value="s2">Eté</option>
                        <option value="s3">Automne</option>
                        <option value="s4">Hiver</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2 input-group" id="select2">
                <div>
                    <select class="custom-select" id="selectCat">
                        <option selected>Type d'ingrédient...</option>
                        <option value="c1">Légume</option>
                        <option value="c2">Fruit</option>
                        <option value="c3">Epicerie</option>
                        <option value="c4">Viande</option>
                        <option value="c5">Poisson</option>
                        <option value="c6">Produit laitier</option>
                        <option value="c7">Autre</option>

                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="input-group-prepend">
                    <br><br>
                    <button style="background: rgb(124, 165, 165); color: white"><strong>Appliquer les
                            filtres</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" *ngFor="let re of allRecettes">
            <div class="card cadre">
                <input class="cadretop contain" type="image"
                    src="https://storenotrefamilleprod.blob.core.windows.net/images/cms/cuisine/recettes-fiche/26281.jpg"
                    width="100%" height="200px" (click)='afficherRecette(re)' />
                <div class="card-block">
                    <h4 class="card-title">{{re.titre}}</h4>

                    <p class="card-text"><small class="text-muted">Préparation : {{re.tempsPrepa}} min | Cuisson :
                            {{re.tempsCuis }} min</small></p>
                    <div class="row">
                        <div></div>

                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-outline-danger cadre"
                                (click)='ajouterRecetteCourse(re)'>
                                <mat-icon>add_shopping_cart</mat-icon>
                            </button>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-outline-warning pull-right cadre"
                                (click)='ajouterEnvie(re)'>
                                <mat-icon>star</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
<br>
        </div>
    </div>
    <br>
</div>