.pmsg{
    font-family: Cambria;
    font-weight: 400;
    color :  rgb(124, 165, 165);
    letter-spacing: 2px;
    text-align : center;
    
}

.okJai{
    color: forestgreen;
}

.pasAssez{
    color: orange;
}

.jaiPas{
    color: tomato;
}