<div style="width: 750px; height: 850px;">
    <img class="card-img-top cadre"
        [src]="laRecette.url"
        alt="Div image cap" style="height: 400px;">
    <h2 class="text-center">{{ laRecette.titre }}</h2>
    <div style="margin: 10px">
        <div class="row" style="vertical-align: middle;">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-">
                <img src="https://image.flaticon.com/icons/svg/66/66163.svg"
                    style="width: 30px; height: 30px; vertical-align: middle;">
                <span style="vertical-align: middle;"> Préparation : {{ laRecette.tempsPrepa }} min </span>
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm">
                <img src="https://image.flaticon.com/icons/svg/135/135318.svg" alt="Div image cap"
                    style="width: 35px; height: 35px; vertical-align: middle;">
                <span style="vertical-align: middle;"> Cuisson : {{ laRecette.tempsCuis }} min </span>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <span>Ingrédients :</span>
                    <br>
                    <span *ngFor="let elem of elemLaRecette;" style="vertical-align: middle;">
                        <i style="vertical-align: middle;" class="material-icons"
                            [ngClass]="(elem.style === 'Rouge')?'jaiPas' : ((elem.style === 'Orange')?'pasAssez' :'okJai')">
                            panorama_fish_eye
                        </i>
                        {{ elem.nom }} : {{ elem.quantite }} {{ elem.unite}}
                        <br>
                    </span>
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-4">
                    <br>
                    <i style="vertical-align: middle;" class="material-icons okJai">panorama_fish_eye</i>
                    <span>J'ai ça dans mon frigo !</span><br>
                    <i style="vertical-align: middle;" class="material-icons pasAssez">panorama_fish_eye</i>
                    <span>J'en ai pas assez...</span><br>
                    <i style="vertical-align: middle;" class="material-icons jaiPas">panorama_fish_eye</i>
                    <span>Je n'en ai pas du tout !</span>
                </div>
            </div>

        </div>
        <br>
        <div>
            {{laRecette.description}}
        </div>
        <br>
     



        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3 text-center">

                <button type="button" class="btn btn-outline ajoutListe cadre" (click)='ajouterRecetteCourse(laRecette)'>
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <br><br>
                <span>
                    <p class="text-center"> <i>Ajouter une à une <br> liste de courses </i> </p>
                </span>
            </div>
            
           
            <div class="col-sm-1"></div>
            <div class="col-sm-3 text-center">
                <button type="button" class="btn btn-outline favori cadre " (click)='ajouterEnvie(laRecette)'>
                    <mat-icon>star</mat-icon>
                </button>
                <br><br>
                <span>
                    <p class="text-center"> <i>Ajouter la recette des envies </i></p>
                </span>
            </div>


        </div>
    </div>
</div>