<div class="card-body">
    <h4 class="text-center texte"><strong>{{ data.message }}</strong></h4>
    <br>
    <form action="" #forme="ngForm">
        <div>
            <mat-form-field class="text-center" style="width: 100%;">
                <input required style="font-size: 20px" type="text" aria-label="Number" matInput
                    [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="ing" name="ing"
                    placeholder="Ingrédient" class="form-control ng-pristine ng-invalid ng-touched text-center">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <input style="font-size: 20px;" type="number" placeholder="Quantité ?" [(ngModel)]="quantite" required
                name="quantite" class="form-control ng-pristine ng-invalid ng-touched text-center">
        </div>
        <br>
        <div style="display: flex; flex-direction: row; justify-content: center;">

            <div class="texte" style="padding : 5px;">
                <button [disabled]="!forme.form.valid" (click)="valider()" onclick=""
                    style="background: #c2dcb9; width: auto; color: white;"
                    class="btn btn-lg btn-primary btn-block mb-2">
                    Ajouter
                </button>
                <br>
            </div>

            <div class="texte" style="padding : 5px;">
                <button (click)="fermer()" onclick="" style="background: #c2dcb9; width: auto; color: white;"
                    class="btn btn-lg btn-primary btn-block mb-2">
                    Annuler
                </button>
            </div>
        </div>

        <div class="text-center text-danger" style="background: rgb(253, 192, 192); font-size: 20px; border-radius: 2px;">
            {{ erreur }}
        </div>
    </form>
</div>