<div class="container font-app">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="login-heading mb-4 text-center font-app">Modifier mes informations</h3>
                    <br>
                    <form #forme="ngForm">
                        <div class="form-group">
                            <h5 class="font-app">Mail</h5>
                            <input type="email" [(ngModel)]="userActuel.mail" required placeholder="Mail"
                                class="form-control" name="mail">
                            <br>
                            <h5 class="font-app">Pseudo</h5>
                            <input type="text" [(ngModel)]="userActuel.pseudo" required placeholder="Pseudo"
                                class="form-control" name="pseudo">
                            <br>
                            <h5 class="font-app">Mot de passe</h5>
                            <input type="password" [(ngModel)]="userActuel.mdp" required placeholder="Mot de passe"
                                class="form-control" name="mdp">
                            <br>
                            <button
                                class="btn btn-lg btn-primary btn-block btn-login active text-uppercase font-weight-bold mb-2"
                                (click)="modifPerson(userActuel);" [disabled]="!forme.form.valid">Enregistrer les
                                modifications</button>

                            <button
                                class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                (click)="retour();">Annuler</button>
                        </div>
                    </form>
                    <div>
                        <span *ngIf="visibleVal" class="valid text-success text-center">Modifications enregistrées
                            !</span>
                        <span *ngIf="visibleErr" class="invalid text-danger text-center">Erreur : les modifications
                            n'ont pas été
                            enregistrées...</span>
                        <span *ngIf="visibleRien" class="invalid text-secondary text-center">Aucune modification</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>