/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Couleur pour afficher un élément validé (ex : Modifications de profil enregistrées !) */
.valid{
    color: limegreen;
}

/* Couleur pour afficher un message d'erreur (ex dans un err d'une méthode ts) */
.invalid{
    color: tomato;
}

.favori {
    border-color: rgb(255, 238, 80);
    color: rgb(255, 238, 80);
  }

.favori:hover {
    background:  rgb(255, 238, 80);
    border-color:  white;
    color: white;
  }


/* Couleur et background pour les boutons d'ajout d'éléments d'une recette à une liste */
  .ajoutListe {
    border-color:  rgb(240, 103, 78);
    color:  rgb(240, 103, 78);
  }

.ajoutListe:hover {
    background:   rgb(240, 103, 78);
    border-color:   white;
    color:  white;
  }

  /* Couleur et background pour les boutons recette réalisée d'une recette à une liste */
  .recetteReal {
    border-color:  rgb(88, 214, 50);
    color:  rgb(88, 214, 50);
  }

.recetteReal:hover {
    background:   rgb(88, 214, 50);
    border-color:   white;
    color:  white;
  }


  .cadre{
    border-radius: 0.5rem;
  }
  
  .cadretop{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  