<div class="row">
    <div class="col-sm-3" style="padding: 10px;">
        <app-navbaruser></app-navbaruser>
    </div>
    <div class="col-sm-9" style="padding: 20px;">
        <div class="">
            <div class="toolbar">
                <button class="btn btn-default">Bouton</button>
            </div>

            <table>
                <thead>
                    <th>Ingrédient</th>
                    <th>Quantité globale</th>
                </thead>
                <tbody>
                    <tr *ngFor="let l of mesListes">

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>