<div class="row">
    <div class="col-sm-3" style="padding: 10px;">
        <app-navbaruser></app-navbaruser>
    </div>
    <div class="col-sm-9" style="padding: 20px;">
        <div class="">
            <div style="width: 100%;">
                <h5>Liste d'achat</h5>
            </div>

            <table>
                <thead class="thead-dark">
                    <th>Ingrédient</th>
                    <th>Quantité globale</th>
                </thead>
                <tbody>
                    <tr *ngFor="let el of mesElements">
                        <td>{{ el.ingredient }}</td>
                        <td>{{ el.quantite }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>